/* CSS Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Generali*/



/*Header*/

.container_nb{
    background-color: lightblue;
    min-height:60px;
}

.container_header_inf{
    background-color: blue;
    min-height:300px;
}

.navigation_bar{
    display:flex;
    flex-direction: row;
    margin:0 20%;
    max-width: 80%;
    justify-content: center;
    padding: 15px;
    flex-grow: 1;
    flex-shrink: 1;
}

.nav_i{
    background-color:yellow;
    border: 1px solid black;
    min-height: 33px;
    width: 33%;
}
.immagine_header{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin:0 20%;
    justify-content: center;
    padding: 25px;
}

.imagine_header_element{
    background-color: pink;
    border: 1px solid black;
    min-height: 250px;
    width: 70%;
    
}

/*main*/

.container_bianco{
    min-height: 380px;

}

.container_grigio{
    background-color: lightgrey;
    min-height: 380px;
}


.box_bianco{
    margin:0 20%;
    max-width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
}
    
.pannello_arancione{
    background-color: orange;
    border: 1px solid black;
    min-height: 280px;
    width: 60%;
}

.pannello_verde{
    background-color: green;
    border: 1px solid black;
    min-height: 280px;
    width: 40%;
    
}


.box_grigio{
    margin:0 20%;
    max-width: 80%;
    padding: 40px 0;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;

}
    
.container_grigio_grande{
    background-color: lightgrey;
    min-height: 800px;
}

.box_grigio_grande{
    margin:0 20%;
    max-width: 80%;
    padding: 40px 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.pannello_viola{
    background-color:violet;
    border: 1px solid black;
    min-height: 700px;
    width: 100%;
    
}